/*--Little fix!--*/

.recipe-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Soluzione qui */

/*-TABLET-*/

@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    .container{
        padding: 30px
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-name{
        font-size: 30px;
    }

    .social-networks button{
        padding: 10px 50px;
    }

    .quick-notes li{
        width: 30%;        
        display: inline-block;
    }


}