/*--Little fix!--*/

.recipe-video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Soluzione qui */

/*-TABLET-*/

@media screen and (min-width: 768px){
    #topbar{
        justify-content: flex-start;
    }

    .container{
        padding: 30px
    }

    .clearfix img{
        margin: 10px;
        float: left;
    }

    .recipe-origin{
        display: inline-block;
    }

    .ads{
        display: block;
    }

    .recipe-name{
        font-size: 30px;
    }

    .social-networks button{
        padding: 10px 50px;
    }

    .quick-notes li{
        width: 30%;        
        display: inline-block;
    }
}

/*-DESKTOP-*/

@media screen and (min-width: 992px){
    .recipe-card{
        display: flex;
    }

    .recipe-info{
        width: 25%;
    }

    .recipe-video{
        width: 75%;
    }

    .recipe-name{
        font-size: 40px;
    }

    .quick-notes li{
        width: 100%;
    }

    .social-networks button{
        padding: 10px 30px;
    }

    .social-networks .label{
        display: inline-block;
    }

    address{
        text-align: left;
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/*--Mode Large Mobile--*/

@media screen and (min-width: 576px){
    .social-networks button{
        padding: 10px 35;
    }

}